
= form_with model: @track do |f|
  .text-field
    = f.label :name
    = f.text_field :name
  
  .text-area-field
    = f.label :credits
    = f.text_area :credits
    
  %br/
  = f.submit

= link_to tracks_path do
  Back to index