%h1 All tracks

%p Coming from Tracks#index

= link_to "See all artists", artists_path
= link_to "See all albums", albums_path

= link_to "Add track", new_track_path
.table
  %div{:class => "table-header cols-5"}
    .header
      %p Title
    .header
      %p Artist
    .header
      %p Album
    .header
      %p Duration
    .header
      %p Actions
  - @tracks.each do |track|
    %div{:class => "table-row cols-5"}
      .table-cell
        %p album_img
        %p= track.name
      .table-cell
        %p Artist PH
      .table-cell
        %p Album PH
      .table-cell
        %p Duration PH
      .table-cell
        %p= link_to "Edit", edit_track_path(track.id)
        %p= link_to "Destroy", track_path(track), method: :delete, data: {confirm: "Are you sure?"}