.form-in-form-container
  = form_with model: @artist do |f|
    .text-field.field-container
      = f.label :name
      = f.text_field :name

    .text-area-field.field-container
      = f.label :bio
      = f.text_area :bio

    .date-field.field-container
      = f.label :formed_at
      = f.date_field :formed_at

    .file-field.field-container
      = f.label :avatar
      = f.file_field :avatar
    
    .file-field.field-container
      = f.label :cover_photo
      = f.file_field :cover_photo

    .submit-field.field-container
      = f.submit
  .back-field.field-container
    = link_to "Back", artists_path