%h1 All artists

%p Coming from Artists#index

= link_to "See all albums", albums_path
= link_to "See all tracks", tracks_path

= link_to "Add artist", new_artist_path
.table
  .table-header.cols-3
    .header
      %p Artist
    .header
      %p Actions
  - @artists.each do |artist|
    .table-row.cols-3
      .table-cell
        %p img
        %p= artist.name
      .table-cell
        %p= link_to "Edit", edit_artist_path(artist.id)
        |
        %p= link_to "Destroy", artist_path(artist), method: :delete, data: {confirm: "Are you sure?"}