-# NAV BAR COMPONENT
.nav-bar
  .page-title
    Music on 
    .color-change= "&nbsp;Rails".html_safe
  .nav-links
    .nav-bar-link= link_to "Artists", artists_path
    .nav-bar-link.active= link_to "Albums", albums_path
    .nav-bar-link= link_to "Tracks", tracks_path

.nav-bar-filler

-# NAV BAR COMPONENT END

%h1 All albums

%p Coming from Albums#index

= link_to "See all artists", artists_path
= link_to "See all tracks", tracks_path

= link_to "Add album", new_album_path
.table
  .table-header.cols-4
    .header
      %p Album
    .header
      %p Artist
    .header
      %p Year
    .header
      %p Actions
  - @albums.each do |album|
    .table-row.cols-4
      .table-cell
        .list-thumbnail
          - if album.cover_art.attached?
            = image_tag album.cover_art.variant(resize:"50x50")
          - else
            = image_tag "defaults/album.jpg", size:"50x50"
        %p= album.name
      .table-cell
        %p Artist placeholder
      .table-cell
        %p= album.released_at.year
      .table-cell
        %p= link_to "Edit", edit_album_path(album.id)
        |
        %p= link_to "Destroy", album_path(album), method: :delete, data: {confirm: "Are you sure?"}