%h1 All albums

%p Coming from Albums#index

= link_to "See all artists", artists_path
= link_to "See all tracks", tracks_path

= link_to "Add album", new_album_path
.table
  %div{:class => "table-header cols-4"}
    .header
      %p Album
    .header
      %p Artist
    .header
      %p Year
    .header
      %p Actions
  - @albums.each do |album|
    %div{:class => "table-row cols-4"}
      .table-cell
        %p img
        %p= album.name
      .table-cell
        %p Artist placeholder
      .table-cell
        %p= album.released_at
      .table-cell
        %p= link_to "Edit", edit_album_path(album.id)
        |
        %p= link_to "Destroy", album_path(album), method: :delete, data: {confirm: "Are you sure?"}